name: Deploy Website to GitHub Pages

on:
  push:
    branches: ["master"]    # or 'main' if your branch is main
  workflow_dispatch: {}

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build   # Generates 'build' folder

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          folder: build   # Replace with your static folder
